@font-face {
    font-family: 'Oswald';
    src: url("fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url("fonts/OpenSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans-Regular, serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --header-Darkblue: #32404F;
    --notification-Blue: #4C5A69;
    --button-Blue: #687D99;
    --Frames-BlueGray: #E1E5EB;
    --riskPriority-Green: #008351;
    --riskPriority-Yellow: #FAD201;
    --riskPriority-Red: #CC0605;
    --colorOpacity: 0.8;
    --paddingLeftRight: 5rem;
    --marginOne: 40;
    --marginTwo: 30;
    --mainFontSize: 11;
    --secondFontSize: 12;
}

.header {
    font-size: calc(14 * 0.063rem);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-Darkblue);
    color: white;
    height: 72px;
    padding-left: var(--paddingLeftRight);
    padding-right: var(--paddingLeftRight);
}

.wrapper {
    margin-top: calc(var(--marginOne) * 0.063rem);
    padding-left: var(--paddingLeftRight);
    padding-right: var(--paddingLeftRight);
}

.notification {

}

.progress-wrapper {
    margin-top: calc(var(--marginOne) * 0.063rem);
    border: 1px solid #E1E5EB;
    height: 100px;
    font-size: calc(var(--mainFontSize) * 0.063rem);
    border-radius: 5px;
}

.mainView-Button-container {
    margin-top: calc(var(--marginOne) * 0.063rem);
    display: flex;
    justify-content: flex-end;
}

.logo_title {
    margin: .5rem;
    margin-left: 0;
    align-items: center;
    display: flex;
}

.logo {
    float: left;
}

.title_assistent {
    font-family: 'Oswald', sans-serif;
    font-size: calc(28 * 0.063rem);
    float: left;
    margin-top: calc(-5 * 0.063rem);
}

.header-links {
    height: 100%;
    align-items: center;
    display: flex;
}

.header-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.header-links li:hover a {
    background-color: var(--notification-Blue);
    border-radius: 5px;

}

.manufacturing-step-navigation{
    display: flex;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: calc(11 * 0.063rem);
    margin-top: calc(20 * 0.063rem);
    margin-left: calc(80 * 0.063rem);
}

.navigation-steps{
    margin-left: 0.5%;
}

.next-arrow{
    margin-left: 0.5%;
}

.searchbar{
    display: flex;
    position: absolute;
    right: 5rem;
    margin-top: calc(2.8 * 0.063rem);
}

.search-field{
    height: 21px;
    width: 200px;
    border: 1px solid var(--notification-Blue);
    border-radius: 50px;
}

.search-field-icon{
    display: flex;
    position: absolute;
    right: 11rem;
    margin-top: calc(5 * 0.063rem);
}
.manufacturing-step-information{
    display: flex;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-top: calc(30 * 0.063rem);
    margin-left: calc(80 * 0.063rem);
}


.manufacturing-legend{
    display: flex;
    position: absolute;
    right: 6rem;
    margin-top: calc(2.8 * 0.063rem);
}

.manufacturing-legend-elements {
    display:flex;
    font-size: calc(9 * 0.063rem);
    margin-top: calc(1.4 * 0.063rem);

}

.manu-legend-tittle{
    font-size: calc(11 * 0.063rem);
    margin-left: 2.8%;
}

.manu-legend{
    margin-left: calc(5 * 0.063rem);
}

.legend-dot{
    margin-top: calc(-5 * 0.063rem);
    margin-left: calc(5 * 0.063rem);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}



.toggle-button {
    position: absolute;
    top: calc(20 * 0.063rem);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.rectangle {
    display: block;
    height: 30px;
}

.notification {
    height: 30px;
    width: 100%;
    background-color: var(--notification-Blue);
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: calc(var(--marginOne) * 0.063rem);
}


.notification:active p, .notification:active .arrow_right {
    display: none;
}

.first_part {
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
}

.info_icon, .arrow_right {
    margin: 0 25px;
}

.title_progress_bar {
    margin-left: 2.5%;
    height: 17px;
    margin-top: 12px;
    color: var(--notification-Blue);
}

.progress_bar {
    height: 17px;
    width: 95%;
    background-color: var(--Frames-BlueGray);
    border-radius: 5px;
    margin-left: 2.5%;
    margin-top: 21px;
}

.progress_in_percent {
    height: 100%;
    width: 0;
    background-color: var(--notification-Blue);
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 calc(10 * 0.063em);
    font-size: calc(var(--mainFontSize) * 0.063rem);
    margin-top: calc(var(--marginOne) * 0.063rem);
}

.tr {
    border: 1px solid #E1E5EB;
    height: 45px;
    border-radius: 5px;
    margin-top: calc(5 * 0.063rem);
}

.th, .td {
    height:45px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #E1E5EB;
}

.td {
    justify-content: center;
    border-right: none;
}

.tr .th:last-child{
    border-right:none;
}



td, th {
    text-align: left;
}

th, td {
    padding: 8px;
    height: 45px;
}

td {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: var(--Frames-BlueGray);;
}

th {
    border: solid 1px #E1E5EB;
    border-right: none;
    padding-bottom: calc(10 * 0.063rem);
    padding-left: calc(10 * 0.063rem);
    padding-top: calc(5 * 0.063rem);
    padding-right: calc(5 * 0.063rem);
    font-family: OpenSans-SemiBold, sans-serif;
}

.th_title {
    font-family: OpenSans-SemiBold, sans-serif;
    float:left;
    /*padding-top: 12px;*/
}

.sort {
    float: right;
}

th.radioButtonsColumn {
    padding-top: 5px;
}

th:first-child, td:first-child {
    border: solid 1px #E1E5EB;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th:last-child, td:last-child {
    border: solid 1px #E1E5EB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}



td:last-child {
    border-left: none;
}

td.dropdown:last-child {
    border: solid 1px #E1E5EB;
}


td {
    text-align: center;
    vertical-align: middle;
}

td > * {
    vertical-align: middle;
}


.fivePercent {
    width: 5%;
    float:left;
    /*text-align: center;*/
}

.tenPercent {
    width: 10%;
    float:left;
}

.thirteenPercent {
    width: 13%;
    float:left;
}

.fifteenPercent {
    width: 15%;
    float:left;
}

.fourtySevenPercent {
    width: 47%;
    text-align: left;
    padding-left: calc(8 * 0.063rem);
    float:left;
}

.icon_list {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5);
}

.icon_list:hover {
    transform: scale(2.5);
}

.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: var(--riskPriority-Green);
    opacity: var(--colorOpacity);
}

.yellow {
    background-color: var(--riskPriority-Yellow);
    opacity: var(--colorOpacity);
}

.red {
    background-color: var(--riskPriority-Red);
    opacity: var(--colorOpacity);
}

.checkmark {
    opacity: 0.2;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 140px;
    left: calc(50% - 70px);
    top: 65%;
    /*    left: 52%;
        top: 50%;*/
    box-sizing: border-box;
    /*text-align: left;*/
    text-align: center;

    content: attr(data-tooltip);
    color: white;
    background-color: var(--notification-Blue);
    padding: 4px;
    border-radius: 5px;
    font-size: calc(var(--mainFontSize) * 0.063rem);

    visibility: hidden;
    opacity: 0;
    transform: translateY(calc(-1% - 10px)) translateX(-1%) scale(0);
    transition: 0.75s transform;
    transform-origin: center center;
}

[data-tooltip]:hover::after, [data-tooltip]:hover::before {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translateY(0) translateX(0px);
}



.button {
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    font-family: OpenSans-SemiBold, serif;
    /*font-family: OpenSans-Bold, serif;*/
    width: 140px;
    height: 38px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.submit {
    background-color: var(--button-Blue);
    color: white;
}

.mainView-Button {
    float: left;
    margin-right: 30px;
}

.button {
    cursor: pointer;
}

.cancel {
    background-color: var(--Frames-BlueGray);
    color: var(--notification-Blue);
    opacity: 0.4;
    cursor: default;
}

/*Styling Neue Gefährdung erstellen*/


.neue_gefaehrdung_table{
    border-spacing: 0;
}
.hundredPercent {
    width: 100%;
}

.neue_gefaehrdung_th{
   background-color: var(--Frames-BlueGray);
}

.neue_gefaehrdung_th_title{
    font-size: 14px;
}

.neue_gefaehrdung_th_title_first_child{
    height: 50em;
}


/* Detailansicht mit Accordion */
.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;

}

.active, .active .td, .accordion:hover {
    background-color: #E1E5EB;
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.block {
    /*padding-top: 18px;*/
    height: 48px;
    margin-top:18px;
}

.block-title{
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.block-text{
    margin-left: 40px;
    margin-top: 8px;
}





@media (max-width: 900px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .logo_title {
        margin-left: .5rem;
    }

    .toggle-button {
        flex-direction: column;
        display: flex;
    }

    .header-links {
        display: none;
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .header-links ul {
        width: 100%;
        flex-direction: column;
    }

    .header-links li {
        text-align: center;
    }

    .header-links li a {
        padding: .5rem 1rem;
    }

    .header-links.active {
        display: flex;
    }

    .notification {
        height: 50px;
    }

    #text_notification {
        margin-left: 25px;
    }

    .info_icon {
        display: none;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}