/*---- Adding fonts ----*/
@font-face {
    font-family: 'Oswald';
    src: url("fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url("fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("fonts/OpenSans-Bold.ttf");
}


/*---- General settings ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans-Regular, serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --header-Darkblue: #32404F;
    --notification-Blue: #4C5A69;
    --button-Blue: #687D99;
    --Frames-BlueGray: #E1E5EB;
    --Button-Hover: #212B36;
    --riskPriority-Green: #008351;
    --riskPriority-Yellow: #FAD201;
    --riskPriority-Red: #CC0605;
    --colorOpacity: 0.8;
    --paddingLeftRight: 5rem;
    --marginOne: 40;
    --marginTwo: 30;
    --mainFontSize: 11;
    --secondFontSize: 12;
}


/*---- Header ----*/
.header {
    font-size: calc(14 * 0.063rem);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-Darkblue);
    color: white;
    height: 72px;
    padding-left: var(--paddingLeftRight);
    padding-right: var(--paddingLeftRight);
}

.header a {
    color: white;
}

a {
    text-decoration: none;
}

.logo_title {
    margin: .5rem;
    margin-left: 0;
    align-items: center;
    display: flex;
}

.logo {
    float: left;
}

.title_assistent {
    font-family: 'Oswald', sans-serif;
    font-size: calc(28 * 0.063rem);
    float: left;
    margin-top: calc(-5 * 0.063rem);
}

.header-links {
    height: 100%;
    align-items: center;
    display: flex;
}

.header-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.header-links li:hover a {
    background-color: var(--notification-Blue);
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    top: calc(20 * 0.063rem);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/*---- Wrapper ----*/
.wrapper {
    margin-top: calc(var(--marginOne) * 0.063rem);
    padding-left: var(--paddingLeftRight);
    padding-right: var(--paddingLeftRight);
}


/*---- Top-overview ----*/
.manufacturing-step-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: calc(11 * 0.063rem);
    margin-top: calc(20 * 0.063rem);
}

.navigation-tree {
    display: flex;
    flex-direction: row;
}

.next-arrow {
    margin-left: calc(15 * 0.063rem);
    margin-right: calc(5 * 0.063rem);
}

.next-arrow-first-child {
    margin-left: calc(12 * 0.063rem);
}

input.searchfield {
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid var(--notification-Blue);
    height: 21.8px;
    width: 200px;
    padding-left: 25px;

}

.searchfield-label {
    position: relative;
}

.searchfield-label:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 0;
    width: 20px;
    background: url("svg/search.svg") center / contain no-repeat;
}

.manufacturing-step-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans-Regular', sans-serif;
    height: 21px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.manu-title {
    font-size: calc(14 * 0.063rem);
}

.manufacturing-legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 21px;
    font-size: calc(11 * 0.063rem);
}

.manufacturing-legend-elements {
    display: flex;
    font-size: calc(11 * 0.063rem);
    margin-top: calc(1.4 * 0.063rem);
}

.low, .middle, .high {
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: calc(11 * 0.063rem);
    margin-left: 9px;
}

.legend-dot {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
}


/*---- Notification-panel ----*/
.rectangle {
    display: block;
    height: 30px;
}

.notification {
    height: 30px;
    width: 100%;
    background-color: var(--notification-Blue);
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: calc(var(--marginOne) * 0.063rem);
}

.notification:active p, .notification:active .arrow_right {
    display: none;
}

.first_part {
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
}

.info_icon, .arrow_right {
    margin: 0 25px;
}


/*---- List-of hazards ----*/
.table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 calc(10 * 0.063em);
    font-size: calc(var(--mainFontSize) * 0.063rem);
    margin-top: calc(var(--marginOne) * 0.063rem);
}

.tr {
    border: 1px solid #E1E5EB;
    height: 45px;
    border-radius: 5px;
    margin-top: calc(5 * 0.063rem);
}

.th, .td {
    height: 45px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #E1E5EB;
}

.td {
    justify-content: center;
    border-right: none;
}

.tr .th:last-child {
    border-right: none;
}

.sort {
    float: right;
}

.fivePercent {
    width: 5%;
    float: left;
}

.tenPercent {
    width: 10%;
    float: left;
}

.thirteenPercent {
    width: 13%;
    float: left;
}

.fifteenPercent {
    width: 15%;
    float: left;
}

.fourtySevenPercent {
    width: 47%;
    text-align: left;
    float: left;
    justify-content: flex-start;
}

.icon_list {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5);
}

.icon_list:hover {
    transform: scale(2.5);
}

.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: var(--riskPriority-Green);
    opacity: var(--colorOpacity);
}

.yellow {
    background-color: var(--riskPriority-Yellow);
    opacity: var(--colorOpacity);
}

.red {
    background-color: var(--riskPriority-Red);
    opacity: var(--colorOpacity);
}

[type="checkbox"] + label {
    position: absolute;
}

[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
}

[type="checkbox"] + label::before {
    width: 15px;
    height: 15px;
    background-image: url("svg/checkbox_unchecked.svg");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}

[type="checkbox"]:checked + label::before {
    background-image: url("svg/checkbox_checked.svg");
}

/*input.radio {
    display: none;
}

[type="radio"].input_evaluation_yes{
    margin-left: 20px;
    margin-right: 18px;
}

[type="radio"] + label::before {
    width: 15px;
    height: 15px;
    background-image: url("svg/radio_button_unchecked.svg");
    display: block;
    content: "";
    float: left;
    margin-right: 20px;
    z-index: 5;
    position: relative;
}

[type="radio"]:checked + label::before {
    background-image: url("svg/radio_button_checked.svg");
}*/

.checkmark {
    opacity: 0.2;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 140px;
    left: calc(50% - 70px);
    top: 65%;
    box-sizing: border-box;
    text-align: center;
    content: attr(data-tooltip);
    color: white;
    background-color: var(--notification-Blue);
    padding: 4px;
    border-radius: 5px;
    font-size: calc(var(--mainFontSize) * 0.063rem);
    visibility: hidden;
    opacity: 0;
    transform: translateY(calc(-1% - 10px)) translateX(-1%) scale(0);
    transition: 0.25s transform;
    transform-origin: center center;
}

[data-tooltip]:hover::after, [data-tooltip]:hover::before {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translateY(0) translateX(0px);
}

/*---- Detail-View with Accordion ----*/
.accordion, .accordion2 {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
}

.active, .accordion:hover{
    background-color: #E1E5EB;
}

.active .fourtySevenPercent {
    font-family: 'OpenSans-SemiBold', sans-serif;
    transition: 1s ease-out;
}

.arrowDown{
    transform: rotate(0deg);
    transition: 1s ease-out;
}

.active .td .arrowDown{
    transform: rotate(-180deg);
    transition: 1s ease-out;
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    border-left: 1px solid var(--Frames-BlueGray);
    border-right: 1px solid var(--Frames-BlueGray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-processing-block {
    height: 0;
    display: none;
    transition: 1s ease-out;
}

.postProcessing {

}

/*.ab0{
    display: block;
    height: 48px;
}*/

.title_with_image_container {
    padding-top: calc(18 * 0.063rem);
    padding-bottom: calc(18 * 0.063rem);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--Frames-BlueGray);
}

.title_with_image_square {
    height:  calc(135 * 0.063rem);
    width:   calc(135 * 0.063rem);
    background: var(--Frames-BlueGray);
    border-radius: 5px;
}

.title_detail_view {
    margin-top: calc(9 * 0.063rem);
    padding-left: calc(5 * 0.063rem);
    padding-right: calc(5 * 0.063rem);
    text-align: center;
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.image_detail_view {
    margin-left: calc(23 * 0.063rem);
    margin-right: calc(23 * 0.063rem);
    margin-top: calc(13 * 0.063rem);
}

.blocks {
    padding: 0 20px;
}

.block {
    height: 48px;
    margin-top: 18px;
}

.block-effects {
    height: 335px;
}

.block-title {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.block-text {
    margin-left: 40px;
    margin-top: 8px;
}

.block-graphics{
    display: flex;
    margin-top: calc(16 * 0.063rem);
}

.riskVisualization2 {
    margin-left: calc(30 * 0.063rem);
}

.decision-evaluation {
    display: flex;
}

.evaluation-text {
    width: 330px;
}

.evaluation-radio-buttons {
    margin-left: calc(100 * 0.063rem);
    display: flex;
}

.detailViewSelection {
    margin-left: 20px;
}

/*---- Progress-bar ----*/
.title_progress_bar {
    margin-left: 2.5%;
    height: 17px;
    margin-top: 12px;
    color: var(--notification-Blue);
}

.progress_bar {
    height: 17px;
    width: 95%;
    background-color: var(--Frames-BlueGray);
    border-radius: 5px;
    margin-left: 2.5%;
    margin-top: 21px;
}

.progress_in_percent {
    height: 100%;
    width: 0;
    background-color: var(--notification-Blue);
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-wrapper {
    margin-top: calc(var(--marginOne) * 0.063rem);
    border: 1px solid #E1E5EB;
    height: 100px;
    font-size: calc(var(--mainFontSize) * 0.063rem);
    border-radius: 5px;
}


/*---- Buttons ----*/
.mainView-Button-container {
    margin-top: calc(var(--marginOne) * 0.063rem);
    display: flex;
    justify-content: flex-end;
}

.button {
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    font-family: OpenSans-SemiBold, serif;
    width: 140px;
    height: 38px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.button:hover {
    background-color: var(--notification-Blue);
}

.submit {
    background-color: var(--button-Blue);
    color: white;
    margin-right: 30px;
}

.cancel {
    background-color: var(--Frames-BlueGray);
    color: var(--notification-Blue);
}

.cancel:hover {
    background-color: #d3d8e1;
}


/*---- Create new hazard-page ----*/
table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 calc(10 * 0.063em);
    font-size: calc(var(--mainFontSize) * 0.063rem);
}

table p:last-child {
    float: right;
}

td, th {
    text-align: left;
}

th, td {
    padding: 8px;
    height: 45px;
}

td {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: var(--Frames-BlueGray);;
}

th {
    border: solid 1px #E1E5EB;
    border-right: none;
    padding-bottom: calc(10 * 0.063rem);
    padding-left: calc(10 * 0.063rem);
    padding-top: calc(5 * 0.063rem);
    padding-right: calc(5 * 0.063rem);
    font-family: OpenSans-SemiBold, sans-serif;
}

.th_title {
    font-family: OpenSans-SemiBold, sans-serif;
    float: left;
    padding-top: 12px;
}

th.radioButtonsColumn {
    padding-top: 5px;
}

th:first-child, td:first-child {
    border: solid 1px #E1E5EB;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th:last-child, td:last-child {
    border: solid 1px #E1E5EB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

td:last-child {
    border-left: none;
}

td.dropdown:last-child {
    border: solid 1px #E1E5EB;
}

td {
    text-align: center;
    vertical-align: middle;
}

td > * {
    vertical-align: middle;
}

/*Styling Neue Gefährdung erstellen*/
.hundredPercent {
    width: 100%;
}
.custom_radio_button {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid var(--header-Darkblue);
    border-radius: 100%;
}

form {
    height: 25rem;
}

.form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.neue_gefaherdung_label {
    width: 15rem;
    margin-top: 1rem;
}

.neue_gefaherdung_label_short {
    width: 15rem;
    margin-top: 1rem;
}



.neue_gefaehrdung_input {
    border: 1px solid var(--Frames-BlueGray);
    border-radius: 5px;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 11px;
    width: 20rem;
    height: 2em;
}

.short {
    width: 8rem;
    height: 2em;
}

.neue_gefaehrdung_table {
    border-spacing: 0;
}

.hundredPercent {
    width: 100%;
}

.neue_gefaehrdung_th {
    background-color: var(--Frames-BlueGray);
    font-size: 14px;
}

.neue_gefaehrdung_third_column {
    margin-left: 0.5rem;
    width: 6rem;
}

.neue_gefaehrdung_second_column{
    width: 1rem;
}

.neue_gefaehrdung_third_one_column{
    margin-left: 0.2rem;
}


.neue_gefaehrdung_fourth_column {
    margin-left: 2rem;
    width: 8rem;
}

.neue_gefaehrdung_fourth_column_long{
    margin-left: 7rem;
    width: 8rem;
}

.neue_gefaehrdung_input_button {
    margin-top: 1rem;
    border: 1px solid var(--Frames-BlueGray);
    background-color: white;
    width: 8rem;
    padding: 4px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.radio {
    display: flex;
    align-self: flex-start;
}

.rectangle{
    display: flex;
    justify-content: center;
    border: 1px solid var(--Frames-BlueGray);
    border-radius: 5px ;
    width: 10rem;
    border-radius: 5px;
}

.neue_gefaehrdung_input_button {
    display: flex;
    position: absolute;
    left: 15rem;
}

.long {
    width: 30em;
    height: 2em;
}

.rectangle_align{
    align-self: center;
}

.severity{
    display: flex;
    justify-content: center;
    border: 1px solid var(--Frames-BlueGray);
    border-radius: 5px ;
    width: 10rem;
    height: 2em;
    background-color: #F3F3F3;
    width: 10em;
}

.neue_gefaehrdung_input_add{
    border: 1px solid var(--Frames-BlueGray);
}

.special{
   /* margin-top: 5rem;*/
    left: 3rem;
}

input[type="text"] {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 11px;
}

.neue_gefaehrdung_info_icon {
    margin: 0 8px;
}

.neue_gefaehrdung_add_icon {
    margin-left: 31rem;
    margin-top: 1.7rem;
}


/* Radio Buttons neue Gefährdung erstellen */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom_radio_button {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid var(--header-Darkblue);
    border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .custom_radio_button {
    background-color: var(--header-Darkblue);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .custom_radio_button {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom_radio_button:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .custom_radio_button:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .custom_radio_button:after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--header-Darkblue);
}

input[type="button"] {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 11px;
}


/*---- Responsive adjustment ----*/
@media (max-width: 1050px) {
input[type="text"] {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 11px;
}

@media (max-width: 900px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .logo_title {
        margin-left: .5rem;
    }

    .toggle-button {
        flex-direction: column;
        display: flex;
    }

    .header-links {
        display: none;
        width: 100%;
        background-color: var(--header-Darkblue);
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .header-links ul {
        width: 100%;
        flex-direction: column;
    }

    .header-links li {
        text-align: center;
    }

    .header-links li a {
        padding: .5rem 1rem;
    }

    .header-links.active {
        display: flex;
    }

    .rectangle {
        height: 50px;
    }

    .notification {
        height: 50px;
    }

    #text_notification {
        margin-left: 25px;
    }

    .info_icon {
        display: none;
    }

    .table {
        width: 100%;
        display: block;
        font-size: calc((var(--mainFontSize) - 2) * 0.063rem);
    }

    .neue_gefaehrdung_input {
        width: 10em;
    }

    p.th_title {
        word-wrap: break-word;
    }

    .th, .td {
        height: 45px;
        padding-left: 5px;
    }
}

@media (max-width: 700px) {
    .manufacturing-step-navigation, .manufacturing-step-information {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 50px;
    }

    .manufacturing-step-information{
        margin-top: 30px;
    }

    .manufacturing-legend{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .table {
        overflow-x: scroll;
    }
}

.test{
    position: absolute;
    margin-left: 15rem;


    }

.testtest{
    display: flex;
    width: 20rem;
    height: 2em;
    margin-bottom:8px;
}

