*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hazards {
  margin: 1.5rem 5rem 1.5rem 5rem;
}


table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 0.7em;
  font-size: calc(12 * 0.063rem);
}

td, th {
  text-align: left;
}

th, td {
  padding: 8px;
  height: 45px;
}

td {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #E1E5EB;
}

th {
  border: solid 1px #E1E5EB;
  border-right:none;
  padding-top:21px;
  padding-bottom: calc(8 * 0.063rem);
  padding-left: calc(8 * 0.063rem);
}

th:first-child, td:first-child {
  border: solid 1px #E1E5EB;
  border-right:none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

th:last-child, td:last-child {
  border: solid 1px #E1E5EB;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

td:last-child {
  border-left: none;
}



td {
  text-align: center;
  vertical-align: middle;
}

td > * {
  vertical-align : middle;
}


.fivePercent {
  width: 5%;
}

.tenPercent {
  width: 10%;
}

.fifteenPercent {
  width: 15%;
}

.fiftyFivePercent {
  width: 55%;
  text-align: left;
  padding-left: calc(8 * 0.063rem);
}

.dot {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background: #339C74;
}

.yellow {
  background: #FBDB34;
}

.red {
  background: #D63837;
}

input[type='radio']{
/*  height:11px;
  width: 11px;
  margin-right: 10px;*/
}

/*input[type='radio']:first-child  {
  float:left;
  margin-left: 1rem;
  background: #32404F;
}*/

input[type="radio"] {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Chrome, Safari, Opera */
  transform: scale(1.25);
  margin-right: 1rem;
}

input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: red;
}

.radio-item:first-child {
  float:left;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  /*margin: 0 5px 0 0;*/
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #32404F;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 9.6px;
  left: 10.9px;
  content: " ";
  display: block;
  background: #32404F;
}