.header {
    font-size: calc(14 * 0.063rem);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-darkblue);
    color: white;
    height: calc(72 * 0.063rem);
    padding-left: calc(var(--padding-wrapper-header) * 0.063rem);
    padding-right: calc(var(--padding-wrapper-header) * 0.063rem);
}

.header a {
    color: white;
}

.logo_title {
    margin: calc(8 * 0.063rem);
    margin-left: 0;
    align-items: center;
    display: flex;
}

.logo {
    float: left;
    margin-right: calc(9 * 0.063rem);
}

.title_assistent {
    font-family: 'Oswald', sans-serif;
    font-size: calc(28 * 0.063rem);
    float: left;
    margin-top: calc(-5 * 0.063rem);
}

.header-links {
    height: 100%;
    align-items: center;
    display: flex;
}

.header-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    padding: calc(16 * 0.063rem);;
    display: block;
}

.header-links li:hover a {
    background-color: var(--notification-blue);
    border-radius: calc(var(--border-radius) * 0.063rem);
}

.toggle-button {
    position: absolute;
    top: calc(20 * 0.063rem);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: calc(30 * 0.063rem);
    height: calc(21 * 0.063rem);
}

.toggle-button .bar {
    height: calc(3 * 0.063rem);
    width: 100%;
    background-color: white;
    border-radius: calc(10 * 0.063rem);;
}