.header {
    font-size: calc(14 * 0.063rem);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-Darkblue);
    color: white;
    height: 72px;
    padding-left: var(--paddingLeftRight);
    padding-right: var(--paddingLeftRight);
}

.header a {
    color: white;
}

a {
    text-decoration: none;
}

.logo_title {
    margin: .5rem;
    margin-left: 0;
    align-items: center;
    display: flex;
}

.logo {
    float: left;
    margin-right:9px;
}

.title_assistent {
    font-family: 'Oswald', sans-serif;
    font-size: calc(28 * 0.063rem);
    float: left;
    margin-top: calc(-5 * 0.063rem);
}

.header-links {
    height: 100%;
    align-items: center;
    display: flex;
}

.header-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.header-links li:hover a {
    background-color: var(--notification-Blue);
    border-radius: calc(var(--borderRadius) * 0.063rem);
}

.toggle-button {
    position: absolute;
    top: calc(20 * 0.063rem);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}