.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--margin-one) * 0.063rem);
    height: calc(30 * 0.063rem);
    font-size: calc(var(--main-font-size) * 0.063rem);
    border-radius: calc(var(--border-radius) * 0.063rem);
    width: 100%;
    background-color: var(--notification-blue);
    color: white;
    cursor: pointer;
}

.notification:active p, .notification:active .arrow_left {
    display: none;
}

.first_part {
    display: flex;
    width: calc(610 * 0.063rem);
    align-items: center;
    justify-content:center;
}

.arrow {
    display: flex;
    align-items: center;
}

.info_icon, .arrow_left {
    margin: 0 calc(25 * 0.063rem);
}