.rectangle {
    display: block;
    height: 30px;
    margin-bottom: calc(var(--marginOne) * 0.063rem);
    background: white;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    background-color: var(--notification-Blue);
    color: white;
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    border-radius: calc(var(--borderRadius) * 0.063rem);
    cursor: pointer;
    float: right;
}

.notification:active p, .notification:active .arrow_right {
    display: none;
}

.first_part {
    display: flex;
    width: 610px;
    align-items: center;
    justify-content:center;
}

.arrow {
    display: flex;
    align-items: center;
}

.info_icon, .arrow_right {
    margin: 0 25px;
}