.path-section {
    margin-top: calc(var(--margin-one) * 0.063rem);
}

.path-section__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: calc(11 * 0.063rem);
}

.path-section__full-path {
    display: flex;
    flex-direction: row;
}

.path-section__next-arrow {
    margin-left: calc(15 * 0.063rem);
    margin-right: calc(5 * 0.063rem);
    display: flex;
    align-items: center;
}

.path-section__next-arrow--first-child {
    margin-left: calc(12 * 0.063rem);
}

.path-section__directory {
    font-family: OpenSans-Bold, serif;
    opacity: 0.5;
}

.path-section__risk-priority-legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(21 * 0.063rem);
    font-size: calc(11 * 0.063rem);
}

.path-section__risk-priority-legend-element {
    display: flex;
    width: calc(60 * 0.063rem);
    justify-content: space-between;
    align-items: center;
    font-size: calc(11 * 0.063rem);
    margin-left: calc(9 * 0.063rem);
}

.manufacturing-step-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-top: calc(16 * 0.063rem);
}

.manu-title {
    font-size: calc(14 * 0.063rem);
}