@media (max-width: calc(1150 * 0.063em)) {
    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: calc(1050 * 0.063em)) {
    .notification {
        height: calc(50 * 0.063rem);
    }

    #text_notification {
        margin-left: calc(25 * 0.063rem);
    }

    .info_icon {
        display: none;
    }

    .table {
        display: block;
        font-size: calc((var(--main-font-size) - 2) * 0.063rem);
    }

    .neue_gefaehrdung_input {
        width: 10rem;
    }

    p.th_title {
        word-wrap: break-word;
    }

    .th, .td {
        height: calc(45 * 0.063rem);
        padding-left: calc(5 * 0.063rem);
    }
}

@media (max-width: calc(800 * 0.063em)) {
    .manufacturing-step-navigation, .manufacturing-step-information {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: calc(50 * 0.063rem);
    }

    .manufacturing-step-information {
        margin-top: calc(30 * 0.063rem);
    }

    .manufacturing-legend {
        margin-top: calc(10 * 0.063rem);
        margin-bottom: calc(10 * 0.063rem);
    }
}

@media (max-width: calc(700 * 0.063em)) {
    .flex-element {
        flex-direction: column;
        align-items: flex-start;
    }
}