:root {
    --header-darkblue: #32404F;
    --notification-blue: #4C5A69;
    --button-blue: #687D99;
    --frames-bluegray: #E1E5EB;
    --button-hover: #212B36;
    --risk-priority-green: #008351;
    --risk-priority-yellow: #FAD201;
    --risk-priority-red: #CC0605;
    --color-opacity: 0.8;
    --padding-wrapper-header: 80;
    --padding-button: 15;
    --margin-one: 20;
    --border-radius: 5;
    --border-radius--progress-bar: 10;
    --main-font-size: 11;
    --second-font-size: 12;
}