:root {
    --header-Darkblue: #32404F;
    --notification-Blue: #4C5A69;
    --button-Blue: #687D99;
    --frames-BlueGray: #E1E5EB;
    --button-Hover: #212B36;
    --riskPriority-Green: #008351;
    --riskPriority-Yellow: #FAD201;
    --riskPriority-Red: #CC0605;
    --colorOpacity: 0.8;
    --paddingLeftRight: 5rem;
    --marginOne: 40;
    --marginTwo: 30;
    --mainFontSize: 11;
    --secondFontSize: 12;
}