.button {
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    font-family: OpenSans-SemiBold, serif;
    width: 140px;
    height: 38px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.button:hover {
    background-color: var(--notification-Blue);
}

.button-submit, .button-submit a {
    background-color: var(--button-Blue);
    color: white;
}

.button-cancel, #button-nextStep {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

#button-nextStep {
    opacity: 0.4;
    cursor: default;
}

#button-nextStep:hover {
    background-color: var(--notification-Blue) !important;
}

#nextStep-Link {
    pointer-events: none;
}

.button-margin {
    margin-top: 18px;
}

.button-cancel {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
    margin-right: 20px;
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

.button-finishHazard{
    margin-left: 20px;
}

.button a {
    font-family: OpenSans-SemiBold, serif;
}