.button {
    font-size: calc(var(--mainFontSize) * 0.063rem);
    font-family: OpenSans-SemiBold, serif;
    padding-left: calc(var(--paddingButtons) * 0.063rem);
    padding-right: calc(var(--paddingButtons) * 0.063rem);
    height: calc(38 * 0.063rem);
    border-radius: calc(50 * 0.063rem);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.button:hover {
    background-color: var(--notification-Blue);
}

.button-submit, .button-submit a {
    background-color: var(--button-Blue);
    color: white;
}

.button-cancel, #button-nextStep {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

#button-nextStep {
    opacity: 0.4;
    cursor: default;
}

#button-nextStep:hover, #newHazardSubmit:hover {
    background-color: var(--notification-Blue) !important;
}

#nextStep-Link {
    pointer-events: none;
}

.button-cancel {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

.button-newHazard {
    width: calc(140 * 0.063rem);
}

.button-newHazard-cancel {
    margin-right: calc(20 * 0.063rem);
}

.button-newHazard-submit {
    opacity: 0.4;
    text-align: center;
}

.button-newHazard-submit:hover {
    background:red;
}

.button-finishHazard{
    margin-left: calc(20 * 0.063rem);
}

.button a {
    font-family: OpenSans-SemiBold, serif;
}


@media (max-width: 1020px) {
    .button-cancel {
        margin-bottom: calc(20 * 0.063rem);
        margin-right: 0;
    }

    .button-newHazard {
        min-width: calc(330 * 0.063rem);
    }

    .button-newHazard-cancel {
        margin-right: 0;
    }
}