.button {
    font-size: calc(calc(var(--mainFontSize)) * 0.063rem);
    font-family: OpenSans-SemiBold, serif;
    padding-left: var(--paddingButtons);
    padding-right: var(--paddingButtons);
    height: 38px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.button:hover {
    background-color: var(--notification-Blue);
}

.button-submit, .button-submit a {
    background-color: var(--button-Blue);
    color: white;
}

.button-cancel, #button-nextStep {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

#button-nextStep {
    opacity: 0.4;
    cursor: default;
}

#button-nextStep:hover {
    background-color: var(--notification-Blue) !important;
}

#nextStep-Link {
    pointer-events: none;
}

.button-cancel {
    background-color: var(--frames-BlueGray);
    color: var(--notification-Blue);
}

.button-cancel:hover {
    background-color: #d3d8e1;
}

.button-newHazard {
    width: 140px;
}

.button-newHazard-cancel {
    margin-right: 20px;
}

.button-newHazard-submit {
    opacity: 0.4;
    pointer-events: none;
    text-align: center;
}

#router-link-newHazardSubmit {
    pointer-events: none;
}

.button-finishHazard{
    margin-left: 20px;
}

.button a {
    font-family: OpenSans-SemiBold, serif;
}


@media (max-width: 1020px) {
    .button-cancel {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .button-newHazard {
        min-width: calc(330 * 0.063rem);
    }

    .button-newHazard-cancel {
        margin-right: 0;
    }
}