.dot {
    height: calc(21 * 0.063rem);
    width: calc(21 * 0.063rem);
    border-radius: 50%;
}

.greenCustomized {
    background-color: var(--riskPriority-Green);
    opacity: var(--colorOpacity);
}

.yellowCustomized {
    background-color: var(--riskPriority-Yellow);
    opacity: var(--colorOpacity);
}

.redCustomized {
    background-color: var(--riskPriority-Red);
    opacity: var(--colorOpacity);
}