.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.legend-dot {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
}

.greenCustomized {
    background-color: var(--riskPriority-Green);
    opacity: var(--colorOpacity);
}

.yellowCustomized {
    background-color: var(--riskPriority-Yellow);
    opacity: var(--colorOpacity);
}

.redCustomized {
    background-color: var(--riskPriority-Red);
    opacity: var(--colorOpacity);
}