.toggle-button {
    position: absolute;
    top: calc(20 * 0.063rem);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: calc(30 * 0.063rem);
    height: calc(21 * 0.063rem);
}

.toggle-button .bar {
    height: calc(3 * 0.063rem);
    background-color: white;
    border-radius: calc(10 * 0.063rem);
}