.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer-detailView {
    margin-bottom: calc(20 * 0.063rem);
    margin-right: calc(20 * 0.063rem);
}

.buttonContainer-nextStep {
    margin-top: calc(var(--marginOne) * 0.063rem);
}