@import "abstracts/_variables.css";

@import "base/_fonts.css";
@import "base/_general.css";

@import "items/_button.css";
@import "items/_checkbox.css";
@import "items/_dot.css";
@import "items/_icon.css";
@import "items/_radioButton.css";
@import "items/_toggleButton.css";
@import "items/_tooltip.css";

@import "components/listView/_buttonContainer.css";
@import "components/listView/_progress_overview.css";
@import "components/listView/_table.css";
@import "components/listView/_riskMatrix.css";
@import "components/newHazard/_newHazardForm.css";
@import "components/_header.css";
@import "components/_navigation.css";

@import "components/_notification.css";
@import "components/_responsiveAdjustment.css";

@import "materialDesign/_materialDesignIcons.css";
@import "materialDesign/_materialIcons.css";


#toast {
    visibility: hidden;
    height: 50px;
    width: fit-content;
    margin: auto;
    background-color: var(--frames-BlueGray);
    border-color: var(--notification-Blue);
    text-align: center;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 30px;
    font-size: 13px;
    white-space: nowrap;
}

#toast #desc {
    color: var(--notification-Blue);
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    animation: fadein 1s, fadeout 1s 3s;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

