/*---- Adding fonts ----*/
@font-face {
  font-family: 'Oswald';
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}