/*---- General settings ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans-Regular, serif;
}

html {
    font-size: 100%;
}

.wrapper {
    padding-left: calc(var(--padding-wrapper-header) * 0.063rem);
    padding-right: calc(var(--padding-wrapper-header) * 0.063rem);
}

@media (max-width: calc(1200 * 0.063em)) {
    .wrapper {
        padding-left: calc(16 * 0.063rem);
        padding-right: calc(16 * 0.063rem);
    }
}

a {
    text-decoration: none;
}