.button-container {
    display: flex;
    justify-content: flex-end;
}

.detail-view__button-container {
    padding-bottom: calc(var(--margin-one) * 2 * 0.063rem);
    padding-top: calc(var(--margin-one) * 2 * 0.063rem);
}

.next-step__button-container {
    margin-top: calc(var(--margin-one) * 0.063rem);
    margin-bottom: calc(var(--margin-one) * 0.063rem);
}

.new-hazard__button-container {
    margin-top: calc(40 * 0.063rem);
}

.modal__button-container {
    display: flex;
    justify-content: center;
}