.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer-detailView {
    margin-bottom: calc(20 * 0.063rem);
}

.buttonContainer-nextStep {
    margin-top: calc(var(--margin-one) * 0.063rem);
}

.flex-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(50 * 0.063rem);
    flex-wrap: wrap;
}

.buttons_new_hazard {
    margin-top: calc(40 * 0.063rem);
}

.column {
    min-width: calc(300 * 0.063rem);
    min-height: calc(50 * 0.063rem);
    margin-right: calc(10 * 0.063rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}