.progress-wrapper {
    margin-top: calc(var(--marginOne) * 0.063rem);
    padding: 21px 16px 23px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E1E5EB;
    height: 100px;
    font-size: calc(var(--mainFontSize) * 0.063rem);
    border-radius: calc(var(--borderRadius) * 0.063rem);
}

.title_progress_bar {
    color: var(--notification-Blue);
}

.progress_bar {
    height: calc(17 * 0.063rem);
    background-color: var(--frames-BlueGray);
    border-radius: calc(var(--borderRadius) * 0.063rem);
}

.progress_in_percent {
    height: 100%;
    width: 0;
    background-color: var(--notification-Blue);
    border-radius: calc(var(--borderRadius) * 0.063rem);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}