.riskMatrix {
    height: calc(325 * 0.063rem);
    width: calc(400 * 0.063rem);
    padding: calc(30 * 0.063rem);
    border: 1px solid var(--frames-bluegray);
    border-radius: calc(var(--border-radius) * 0.063rem);
}

.riskPriorityNumbers {
    font-size: 11px;
}
