.detail-view__risk-matrix {
    height: calc(325 * 0.0625rem);
    width: calc(400 * 0.0625rem);
    padding: calc(30 * 0.0625rem);
    border: calc(1 * 0.0625rem) solid var(--frames-bluegray);
    border-radius: calc(var(--border-radius) * 0.0625rem);
}

.detail-view__risk-matrix-title {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.detail-view__risk-matrix-description {
    width: calc(600 * 0.0625rem);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}