/* Table fonts */
th span, .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    font-size: 11px;
    font-family: OpenSans-Regular, serif;
}

/* Remove unused margin */
.v-application--wrap {
    min-height: 0;
}

/* Search Field Space */
.v-text-field {
    padding-top: 0;
    margin-top: 0;
}

.v-application--wrap > .theme--light.v-text-field > .v-input__control > .v-input__slot{
    border: 1.25px solid var(--frames-BlueGray);
    border-radius: 4px;
    margin-bottom: 10px;
}

.v-input__append-inner {
    margin-right: 5px;
}

.v-input__control {
    /*align-items: center;*/
}

.v-input__slot {
    display: flex;
    flex-direction: row-reverse;
    /*width: 285px;*/
}

/* Search Field Border Color */
.theme--light.v-text-field > .v-input__control > .v-input__slot::before {
    border-color: var(--notification-Blue) !important;
    opacity: 0.5;
    border:none;
}
.v-text-field > .v-input__control > .v-input__slot::after {
    border-color: var(--notification-Blue) !important;

}

/* color "suchen" */
.theme--light.v-label {
    color: var(--notification-Blue);
    opacity: 0.8;
}

/* Table Header */
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th{
    color: var(--notification-Blue);
}
.theme--light.v-data-table .v-data-table-header th.sortable:hover, .theme--light.v-data-table .v-data-table-header th.sortable.active{
    color: var(--button-Hover);
}

/* Hovered-selected-row */
tr:hover:not(.v-data-table__expanded__content):not(thead tr), .v-data-table__expanded__row {
    background: var(--frames-BlueGray) !important;
}

/* Selected Row */
.v-data-table__expanded__row > td > :not(.tooltip){
    font-weight: bold;
}

/* Remove background of expand-icon */
.v-icon.v-icon::after {
    background-color: transparent;
}

/* Color Vuetify-Icons */
.mdi::before, .mdi-set, .v-icon.v-icon {
    color: var(--notification-Blue);
}


/* Table Expanded */
.v-data-table > .v-data-table__wrapper > table > tbody > tr > .td_detailView{
    padding: 0;
}

#post-processing-block {
    height: 0;
    display: none;
    transition: 1s ease-out;
}

.hazard-situation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(18 * 0.063rem);
}

.hazard-situation-text {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.title_with_image_container {
    padding-top: calc(9 * 0.063rem);
    padding-bottom: calc(18 * 0.063rem);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--frames-BlueGray);
}

.title_with_image_square {
    min-height: calc(230 * 0.063rem);
    width: calc(250 * 0.063rem);
    padding-top: calc(10 * 0.063rem);
    padding-bottom: calc(10 * 0.063rem);
    background: var(--frames-BlueGray);
    border-radius: calc(var(--borderRadius) * 0.063rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title_detail_view {
    font-family: 'OpenSans-SemiBold', sans-serif;
    padding-bottom: calc(10 * 0.063rem);
    padding-left: calc(10 * 0.063rem);
    padding-right: calc(10 * 0.063rem);
    text-align: center;
    width: 190px;
}

.blocks {
    padding: 0 40px;
}

.block {
    height: 48px;
    margin-top: 18px;
    font-size: calc(11 * 0.063rem);
}

.block-effects {
    height: auto;
}

.block-title, .pictogram-title {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.block-text, .graphic-selection, .block-graphics {
    margin-left: 40px;
}

.block-text, .graphic-selection, .block-graphics {
    margin-left: 40px;
}

.graphic-selection {
    display: flex;
    align-items: center;
    height: 50px;
}

.graphic-selection-block {
    margin-right: 20px;
}

.block-graphics {
    display: flex;
    margin-top: calc(16 * 0.063rem);
}

.pictogramm {
    height: calc(325 * 0.063rem);
    width: calc(660 * 0.063rem);
    padding: calc(30 * 0.063rem);
    border: 1px solid var(--frames-BlueGray);
    border-radius: calc(var(--borderRadius) * 0.063rem);
    margin-right: 20px;
}

.pictogram-description {
    width: calc(600 * 0.063rem);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.pictogram-graphic p {
    height: calc(150 * 0.063rem);
    margin-top: calc(10 * 0.063rem);
    display: flex;
    flex-direction: column;
}

.pictogram-graphic-block {
    display: flex;
    flex-direction: row;
    height: calc(80 * 0.063rem);
    justify-content: flex-start;
    align-items: center;
}

.pictogram-graphic-block-title {
    width: calc(150 * 0.063rem);
}

.pictogram-graphic-block-svgs {
    width: calc(450 * 0.063rem);
    height: calc(70 * 0.063rem);
    padding: calc(10 * 0.063rem);
    border: 1px solid var(--frames-BlueGray);
    border-radius: calc(var(--borderRadius) * 0.063rem);
    display: flex;
}

.pictogram-graphic-block-svgs-block {
    width: calc(225 * 0.063rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pictogram-graphic-block-svgs-block-row {
    padding-right: calc(10 * 0.063rem);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pictogram-graphic-block-svgs-block-row-column {
    padding-right: calc(10 * 0.063rem);
}

.pictogram-graphic-block-svgs-block-description {
    padding-bottom: calc(0 * 0.063rem);
}


.block-verify {
    margin-bottom: 20px;
}

.riskVisualization2 {
    margin-left: calc(30 * 0.063rem);
}

.decision-evaluation {
    display: flex;
}

.evaluation-text {
    width: 600px;
}

.evaluation-radio-buttons {
    margin-left: calc(100 * 1rem);
    display: flex;
}

.button_detailView {
    display: flex;
}

.label-verify {
    width: 150px;
}

.verify-label-text {
    margin-top:-2px;
    margin-left:10px;
}

.radioButton-detailView {
    margin-right: 0.3rem;
}

.rectangle-block {
    margin-top: 18px;
    margin-bottom: 80px;
}

.detailView-notification {
    background-color: var(--frames-BlueGray);
    height: 30px;
    width: 100%;
    border-radius: calc(var(--borderRadius) * 0.063rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset, .v-text-field--outlined fieldset {
    border: 1px solid var(--frames-BlueGray);
}

.v-text-field--outlined.v-input--is-focused fieldset{
    border: 2px solid var(--frames-BlueGray);
}

.v-input__slot {
    margin-bottom: 0;
}

textarea, .v-label{
    font-size: 11px;
}

textarea {
    padding: 10px;
}

.v-text-field__details {
    display: none;
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
    /*box-shadow: inset 0px 4px 8px -5px rgba(50, 50, 50, 0.75), inset 0px -4px 8px -5px rgba(50, 50, 50, 0.75);*/
    /*box-shadow: inset 0 0 4px var(--frames-BlueGray);*/
    box-shadow: 0 4px 4px var(--frames-BlueGray);
}

