th span, .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    font-size: 11px;
    font-family: OpenSans-Regular, serif;
}

.v-application--wrap {
    min-height: 0;
}


.v-data-table > .v-data-table__wrapper > table > tbody > tr > .td_detailView{
    padding: 0;
}

#post-processing-block {
    height: 0;
    display: none;
    transition: 1s ease-out;
}

.title_with_image_container {
    padding-top: calc(18 * 0.063rem);
    padding-bottom: calc(18 * 0.063rem);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--frames-BlueGray);
}

.title_with_image_square {
    height: calc(135 * 0.063rem);
    width: calc(135 * 0.063rem);
    background: var(--frames-BlueGray);
    border-radius: 5px;
}

.title_detail_view {
    margin-top: calc(9 * 0.063rem);
    padding-left: calc(5 * 0.063rem);
    padding-right: calc(5 * 0.063rem);
    text-align: center;
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.image_detail_view {
    margin-left: calc(23 * 0.063rem);
    margin-right: calc(23 * 0.063rem);
    margin-top: calc(13 * 0.063rem);
}

.blocks {
    padding: 0 40px;
}

.block {
    height: 48px;
    margin-top: 18px;
}

.block-effects {
    height: 335px;
}

.block-title {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.block-text {
    margin-left: 40px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.block-graphics {
    display: flex;
    margin-top: calc(16 * 0.063rem);
}

.riskVisualization2 {
    margin-left: calc(30 * 0.063rem);
}

.decision-evaluation {
    display: flex;
}

.evaluation-text {
    width: 600px;
}

.evaluation-radio-buttons {
    margin-left: calc(100 * 1rem);
    display: flex;
}

.button_detailView {
    display: flex;
}

.label-verify {
    width: 120px;
}

.radioButton-detailView {
    margin-right: 0.3rem;
}

.radio-button-nein {
    /*margin-left: 7.5rem;*/
}

.rectangle-block {
    margin-top: 18px;
    margin-bottom: 80px;
}

.detailView-notification {
    background-color: var(--frames-BlueGray);
    max-width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
}

.text {
    padding-top: 7px;
}

.block-verify {
    margin-bottom: 20px;
}

fieldset, .v-text-field--outlined fieldset {
    border: 1px solid var(--frames-BlueGray);
}
.v-text-field--outlined.v-input--is-focused fieldset{
    border: 2px solid var(--frames-BlueGray);
}

fieldset, .v-input__control {
    height:92px;
}

.v-text-field__slot{
    height:87px;
}

.v-input__slot {
    margin-bottom: 0;
}

textarea, .v-label{
    font-size: 11px;
}

textarea {
    padding: 10px;
}